<div class="wrapper">
  <div class="table">
    <div class="row header blue">
      <div class="cell">Subject</div>
      <div class="cell">Sent at</div>
      <div class="cell">From email</div>
      <div class="cell">To emails</div>
      <div class="cell">CC emails</div>
      <div class="cell">BCC emails</div>
      <div class="cell">All recipients</div>
      <div class="cell">Sent</div>
    </div>
    <div class="row" ng-repeat="mail in mails | filter:query" ng-click="itemClick(mail.id)">
      <div class="cell">{{ mail.subject }}</div>
      <div class="cell">{{ mail.sentAt | date:"MM/dd/yyyy 'at' h:mma" }}</div>
      <div class="cell">{{ mail.fromEmail }}</div>
      <div class="cell">
        <ul ng-repeat="email in mail.toEmails">
          <li>
            <a href="mailto:{{ email }}" target="_top">{{ email }}</a>
          </li>
        </ul>
      </div>
      <div class="cell">
        <ul ng-repeat="email in mail.ccEmails">
          <li>
            <a href="mailto:{{ email }}" target="_top">{{ email }}</a>
          </li>
        </ul>
      </div>
      <div class="cell">
        <ul ng-repeat="email in mail.bccEmails">
          <li>
            <a href="mailto:{{ email }}" target="_top">{{ email }}</a>
          </li>
        </ul>
      </div>
      <div class="cell">
        <ul ng-repeat="email in mail.allRecipients">
          <li>
            <a href="mailto:{{ email }}" target="_top">{{ email }}</a>
          </li>
        </ul>
      </div>
      <div class="cell">{{ mail.sent }}</div>
    </div>
    <div class="row header green">
      <div class="cell">
        <span ng-if="curPage > 1" ng-click="previousPage()"> < Previous </span>
        <span ng-if="curPage < totalPages" ng-click="nextPage()"> Next ></span>
      </div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell"></div>
      <div class="cell">&nbsp;</div>
    </div>
  </div>
</div>